# Rust's output directory
target
out

# Local settings
.soroban
.stellar

# environment
.env

# node
node_modules
dist
lib

# others
.idea
.DS_Store
.aider*

contracts/shelter/test_snapshots
coverage

types/